In [5]:
# Element with Kth highest frequency
def khigh(s,k):
    unique={}
    for c in s:
        if c not in unique:
            unique[c]=1
        else:
            unique[c]+=1
    # extract all unique frequencies  in a  list
    unifreq=[]
    for value in unique.values():
        if value not in unifreq:
            unifreq.append(value)
    #print(unifreq)       
    unifreq=sorted(unifreq,reverse=True)
    
    if len(unifreq)>=k:
        kfreq=unifreq[k-1]
        #return(kfreq)
        kfreqchar=[]

        for item in unique.items():
            #print(item)
            if item[1]==kfreq:
                kfreqchar.append(item[0])
                #print(kfreqchar)
                return min(kfreqchar)
    else:
        return -1
    #kfreqchar=[]

#     for item in unique.items():
#         print(item)
#         if item[1]==kfreq:
#             kfreqchar.append(item[0])
#             print(kfreqchar)
#     return min(kfreqchar)
#khigh([9,8,7,6,5,4,3,2,9,6,7,7,7,6,6],66)
with open("datafiles/freq.txt","r") as f:
    t=f.readline()
    #print(t)
    for i in range(int(t)):
        s=f.readline().strip()
        k=int(f.readline())
        print(khigh(s,k))

s
g
x
e
w
r
n
k
-1
-1

In [21]:
#function to print all combinations of integers in a unique list


def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    

combinations([77,6,3,4,4])

77 6 3
77 6 4
77 6 4
77 3 4
77 3 4
77 4 4
6 3 4
6 3 4
6 4 4
3 4 4

In [47]:

def diffPairs(li):
   c=li.copy()
   new = []
   for i in range(len(li)-1):
       for j in range(i+1, len(li)):
           d = abs(li[i]-li[j])
           if d not in li and d not in new:
               new.append(d)
               
   li.extend(new)
   return li
li = [3,6,9,12,2]
diffPairs(li)

[3, 6, 9, 12, 2, 1, 4, 7, 10]

In [ ]:
def diffPairs(li):
   c=li.copy()
   new = []
   for i in range(len(li)-1):
       for j in range(i+1, len(li)):
           d = abs(li[i]-li[j])
           if d not in li and d not in new:
               new.append(d)
               
   li.extend(new)
   return li
li = [3,6,9,12,2]
diffPairs(li)
# [1,2,3] -> [1,2,3] def medium(li,k): while(True): li3 = differencePairs(li) if li3[0] == li3[1]: break if len(li3[0]) >= k: return sorted(li3[0],reverse=True)[k-1] return -1 # Function to identify differences of all #pairs of numbers and add those differences #to the same list. # It returns the updated list and original list def differencePairs(li): cli = li[:] newelements = [] for i in range(len(li)-1): for j in range(i+1, len(li)): d = abs(li[i]-li[j]) if d not in li and d not in newelements: newelements.append(d) li.extend(newelements) return [cli, li] li = [1,9,8,7,6,2] differencePairs(li)
# [1,2,3] -> [1,2,3]

def medium(li,k):
   while(True):
       li3 = differencePairs(li)
       if li3[0] == li3[1]:
           break
   if len(li3[0]) >= k:
       return sorted(li3[0],reverse=True)[k-1]
   return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
   cli = li[:]
   newelements = []
   
   for i in range(len(li)-1):
       for j in range(i+1, len(li)):
           d = abs(li[i]-li[j])
           if d not in li and d not in newelements:
               newelements.append(d)
   li.extend(newelements)
   return [cli, li]
li = [1,9,8,7,6,2]
differencePairs(li)

### set data structure in python
- represented by -{}

In [58]:
a={1,2,3,4,6,7}
# for i in a:       acessing elements
#     print(i)
b={7,8,9}
a.update(b)
c=['a','b','g',10,8,1,112,3,27,3,44,3,3,3,3,4,0]
a.update(c)#adding multiple elements
a

{0, 1, 10, 112, 2, 27, 3, 4, 44, 6, 7, 8, 9, 'a', 'b', 'g'}

In [60]:
a.discard('a')# used to remove single element from set
a

{0, 1, 10, 112, 2, 27, 3, 4, 44, 6, 7, 8, 9, 'b', 'g'}

In [61]:
a={1,2,3,4,6,7}
b={7,8,9,4,6,7}
a.intersection(b)
a

{1, 2, 3, 4, 6, 7}

In [62]:
a-b#all elements of 'a' which are not in 'b' are eleminated
b-a

{1, 2, 3, 4, 6}

In [64]:
a={1,2,3,4,6,7}
b={7,8,9,4,6,7}

a^b# elements either in 'a' or in 'b'

{1, 2, 3, 8, 9}

In [67]:
d=set()

In [68]:
type(d)

set

In [71]:
a=[1, 2, 3, 4, 6, 7]
u=set(a)
u

{1, 2, 3, 4, 6, 7}

In [ ]:
procedural : C
Object oriented:java ,python
scripting :php ,python,javascripting
functional:python,haskell,scala
logic`:prolog,lisp

#### list comprehensions

In [73]:
# N natural numbers in a list
n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
k=[i for i in range(1,11)]
k

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
#apply list comphrehension to store the n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [76]:
# function to calculate factorial
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)
factorial(5)

120

In [82]:
#apply list compherension
n=10
li=[factorial(i) for i in range(1,n+1)]
li

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [106]:
#store cumulative sum of numbers till n in a list

n=3
li=[sum(range(i+1)) for i in range(1,n+1) ]
li

[1, 3, 6]

In [117]:
# list comphrehension to store leap yeras in agin=ve time period
# def leap(s):
#     if s%400==0 or s%100!=0 and s%4==0:
#         return s
    
li=[i for i in range(1970,2019) if (i%400==0 or i%100!=0) and i%4==0]
li

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [ ]:
li=[1,2,3,4,4,1]
p=[]

### iterators
- iterable - strings,lists,tuples,sets,dictionaries
convert iterable to iterator->iter()

In [129]:
it=iter('python')
next(it)

'p'

### genrators
genrator is function

In [138]:
def gen():
    n=3
    yield n
    n=n**3
    yield n
    n=n**3
    yield n
a=gen()
next(a)
next(a)
next(a)

19683