### python library for data analysis
- pandas- data  analysis

In [6]:
#Function to read csv data into data frame and returns the dataframe
filepath='datafiles/income.csv'
import pandas as pd
def readcsvdata(filepath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,s46896,48621,47044,50602
3,04000US05,Ariz,45245,46657,47215,46914,45739,s46896,48621,47044,50602

In [3]:
incomedf=readcsvdata(filepath)

#function to print all coloumn names in asingle line
def printdataframecoloumns(filepath):
    columns=incomedf.columns
    for column in columns:
        print(column,end=' ')
    return
printdataframecoloumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [26]:
def accessdatafeamerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessdatafeamerow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [30]:
#accessing a unique value based on row,coloumn 
#income of a state in agiven year
def getrowindex(df,rowkey):
       for i in range (len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
        return rowindex
def getcolumnindex(df,columnkey):
        for i in range (len(df.columns)):
            if df.columns[i]==columnkey:
                columnindex=i
            return columnindex
def valuefromrowcolumn(df,rowkey,columnkey):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    return df.values[rowindex][columnindex]
    
valuefromrowcolumn(incomedf,'Alabama','2009')

UnboundLocalError: local variable 'columnindex' referenced before assignment

In [29]:
#function to update data based on row key and coloumn key
def updatedatafromrowcoloumn(df,rowkey,columnkey,newdata):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    row=df.values[rowindex]
    row[columnindex]=newdata
    df.loc[rowindex]=row
    return
updatedatafromrowcoloumn(incomedf,'Alaska','2009','777777')

UnboundLocalError: local variable 'rowindex' referenced before assignment

In [ ]:
#function to write dataframe to csv
incomedf.to_csv(filepath,index=False)

In [ ]:
#function to add a new row to data frame
def addrowdataframe(df,rowdata):
    lastrowindex=len(df.values-1)
    df.loc[lastrowindex+1]=rowdata
    return
addrowdataframe()

In [ ]:
def deleterowdata(df,rowkey):
    rowindex=getrowindex[rowkey]
    return df.drop(rowindex)
incomedf=dict