### python library for data analysis
- pandas- data  analysis

In [7]:
#Function to read csv data into data frame and returns the dataframe
filepath='datafiles/income.csv'
import pandas as pd
def readcsvdata(filepath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,s46896,48621,47044,50602
3,04000US05,Ariz,45245,46657,47215,46914,45739,s46896,48621,47044,50602

In [12]:
incomedf=readcsvdata(filepath)

#function to print all coloumn names in asingle line
def printdataframecoloumns(filepath):
    columns=incomedf.columns
    for column in columns:
        print(column,end=' ')
    return
printdataframecoloumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [13]:
def accessdatafeamerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessdatafeamerow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [9]:

incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602